@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container {
  @apply relative flex flex-col items-center justify-between h-full p-6 pb-0 gap-4 rounded-md shadow-lg text-[#333];
}

.header {
  @apply w-full relative   flex justify-between;
}

.header p {
  @apply text-white  mb-4 cursor-pointer  capitalize text-[2.3rem];
  font-family: 'Fredoka One', sans-serif;
}

.goBack {
  @apply text-white  mb-4 cursor-pointer  capitalize text-[2.3rem];
  font-family: 'Fredoka One', sans-serif;
}

.pokemon {
  @apply relative w-full flex flex-col justify-center items-center gap-4;
}
.imageWrapper {
  @apply relative w-[16rem] h-[16rem];
}

.imageWrapper img {
  @apply object-contain rounded-full shadow-md border-4 border-gray-200;
  position: unset;
}

.detailsWrapper {
  @apply mb-4 h-auto  w-full bg-white rounded-lg p-4 relative overflow-y-auto;
}

.pokemonTypeContainer {
  @apply flex justify-center w-full;
}

.pokemonType {
  @apply text-2xl font-bold mt-4 text-center w-32 p-2 h-12 rounded-xl text-white capitalize;
}

.detailsInnerWrapper {
  @apply w-full flex justify-evenly;
}

.detailsInnerWrapper :not(:last-child) {
  @apply border-r-2 border-gray-300 border-solid p-2;
}

.details {
  @apply text-black text-base w-full flex justify-center items-center flex-col mt-8 gap-2 capitalize text-center;
}

.details p {
  @apply text-gray-700 text-sm md:text-lg capitalize font-bold;
}

.statusTitle {
  @apply text-lg font-semibold text-center mt-12;
}

.inputWrapper {
  @apply flex flex-col space-y-4 mt-4 w-full;
}

.nicknameInput,
.dateInput {
  @apply border border-gray-300 rounded p-3;
}

.captureButton {
  @apply text-white rounded p-3 cursor-pointer  transition;
}
